/* marketplace.css */

.marketplace-image {
  max-width: 100%;
  /* Add additional styles specific to the image in the marketplace */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
