/* Navbar styles */
nav {
  padding-top: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: rgb(239, 233, 233);
  transition: color 0.3s ease;
  font-size: 15px;
  padding-top: 70px;
  font-weight: bold;
}

a:hover {
  color: rgb(13, 13, 13);
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px; /* Adjusted padding to make the button smaller */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1f3922;
}
