/* marketplace.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 60%;
  height: auto;
}

/* Styles for the container box */
.nft-container {
  border: 2px solid #ddd; /* Border color */
  padding: 20px; /* Padding around the content */
  border-radius: 10px; /* Optional: Rounded corners for aesthetics */
  background-color: #fff; /* Background color */
  max-width: 600px; /* Set a larger maximum width for the box */
  text-align: center; /* Center text inside the box */
  margin: 20px auto; /* Center the box by setting left and right margins to auto */
}

.nft-container img {
  max-width: 100%; /* Make sure images don't exceed the container width */
}

.nft-container div {
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.message {
  margin-top: 10px;
  color: #ff0000;
}

.nft-container span {
  /* Add styles for spans as needed */
}