body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../components/concert.jpg');
      background-size: cover; /* Ensures the background image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center; /* Centers the background image */
  }
  
  .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Form container styles */
  #nftForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Form styles */
  form {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  h3 {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  /* Input styles */
  input,
  textarea,
  button {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-size: 0.9rem;
    color: rgb(51, 51, 51);
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Button styles */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Error message styles */
  .text-red-500 {
    color: #e3342f; /* Red color for error messages */
    text-align: center;
    margin-top: 0.5rem;
  }